{% extends "cms/base_site.html" %}
{% load i18n static group_tags %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Documents de cours</h1>
          <div style="float:left; widht:500px">
              <ol>
                  <h3>Documents Etudiant</h3>
                  {% for doc in object_list %}
                    {% if doc.authorization == 1 %}
                        <li><a href="{{ doc.doc.url }}">{{ doc.doc.name }}</a></li>
                    {% endif %}
                  {% empty %}
                        <p><i>Aucun document disponible.</i></p>
                  {% endfor %}
              </ol>
          </div>
          {% if user|has_group:"prof" or user.is_staff %}
              <div style="margin-left:600px; width:500px">
                  <ol>
                      <h3>Documents ENSEIGNANT</h3>
                      {% for doc in object_list %}
                         {% if doc.authorization == 2 %}
                            <li><a href="{{ doc.doc.url }}">{{ doc.doc.name }}</a></li>
                         {% endif %}
                      {% empty %}
                         <p><i>Aucun document disponible.</i></p>
                      {% endfor %}
                  </ol>
              </div>
          {% endif %}

    {% if user.is_staff %}
        <hr style="margin-top:100px">
        <p><a href="{% url 'admin:intranet_intranetdoc_changelist' %}">Gestion des documents</a></p>
    {% endif %}
</div>
{% endblock %}
