{% extends "./base_site.html" %}
{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block content %}

<div id="content-main">
<h1>Liste des compétences du PEC avec les modules correspondants</h1>
<table border="0">
{% for c in object_list %}
<tr><td colspan="3">{{ c }}</td></td></tr>
<tr><th width="10px">&nbsp;</th><td colspan="2"><a href=" {% url 'module-detail' c.module.id %}">{{ c.module }}</a></td></tr>
{% endfor %}
</table>


</div>
{% endblock %}


