{% extends "./base_site.html" %}
{% load i18n static %}




{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block content %}

<div id="content-main">
<h1>Liste des documents</h1>
<ol>
{% for doc in object_list %}

{% if doc.published %}
	<li><a href="{% url 'document-detail' doc.id %}">{{doc}}</a></li>
{% else %}
<li>{{doc}}&nbsp;&nbsp;(en travail)</li>
{% endif %}
{% empty %}
<li>Aucun document disponible</li>
{% endfor %}

{% for fic in upload %}

{% if fic.published %}
	<li><a href="{% url 'upload-detail' fic.id %}">{{fic.titre}}</a></li>
{% else %}
<li>{{fic}}&nbsp;&nbsp;(en travail)</li>
{% endif %}
{% endfor %}




</ol>


</div>
{% endblock %}


