{% extends "./base_site.html" %}
{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block content %}

<div id="content-main">

<table id="plan">
<tr>
	<th width="300px">Domaines</th>
	<th width="600px">Processus</th>
	<th width="180px" style="text-align:center;">Sem1</th>
	<th width="180px" style="text-align:center;">Sem2</th>
	<th width="180px" style="text-align:center;">Sem3</th>
	<th width="180px" style="text-align:center;">Sem4</th>
	<th width="180px" style="text-align:center;">Sem5</th>
	<th width="180px" style="text-align:center;">Sem6</th>
</tr>
	
<tr>
	<td rowspan="4" class="l1 d">{{D1.url|safe}}</td>
	<td rowspan="2" class="l1 p">{{P01.url|safe}}</td>
	<td class="l1 m">{{M01.url_code|safe}}</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	
	<td class="l1 m" >{{M02.url_code|safe}}</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>	
<tr>
	<td rowspan="2" class="l1 p">{{P02.url|safe}}</td>
	<td></td><td>&nbsp;</td><td>&nbsp;</td><td class="l1 m">{{M03.url_code|safe}}</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	
	<td></td><td class="l1 m">{{M04.url_code|safe}}</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<!-- Ligne 2 -->
<tr>
	<td rowspan="3" class="l2 d">{{D2.url|safe}}</td>
	<td class="l2 p">{{P03.url|safe}}</td>
	<td class="l2 m">{{M05.url_code|safe}}</td><td>&nbsp;</td><td class="l2 m">{{M06.url_code|safe}}</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td rowspan="2" class="l2 p">{{P04.url|safe}}</td>
	<td></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td class="l2 m">{{M07.url_code|safe}}</td><td class="l2 m">{{M09.url_code|safe}}</td>
</tr>
<tr>
	
	<td></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td class="l2 m">{{M08.url_code|safe}}</td><td>&nbsp;</td>
</tr>

<!-- Ligne 3 -->
<tr>
	<td rowspan="2" class="l3 d">{{D3.url|safe}}</td>
	<td class="l3 p">{{P05.url|safe}}</td>
	<td >&nbsp;</td><td>&nbsp;</td><td colspan="2" class="l3 m">{{M10.url_code|safe}}</td><td class="l3 m">{{M12.url_code|safe}}</td><td>&nbsp;</td>
</tr>
<tr>
	<td class="l3 p">{{P06.url|safe}}</td>
	<td >&nbsp;</td><td>&nbsp;</td><td colspan="2" class="l3 m">{{M11.url_code|safe}}</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<!-- Ligne 4 -->
<tr>
	<td class="l4 d">{{D4.url|safe}}</td>
	<td class="l4 p">{{P07.url|safe}}</td>
	<td >&nbsp;</td><td>&nbsp;</td><td class="l4 m">{{M13.url_code|safe}}</td><td>&nbsp;</td><td>&nbsp;</td><td class="l4 m">{{M14.url_code|safe}}</td>
</tr>

<!-- Ligne 5 -->
<tr>
	<td class="l5 d">{{D5.url|safe}}</td>
	<td class="l5 p">{{P08.url|safe}}</td>
	<td colspan="6" class="l5 m">{{M15.url_code|safe}}</td>
</tr>

<!-- Ligne 6 -->
<tr>
	<td class="l6 d">{{D6.url|safe}}</td>
	<td class="l6 p">{{P09.url|safe}}</td>
	<td colspan="2" class="l6 m">{{M16_1a.url_code|safe}} / {{M16_1b.url_code|safe}} / {{M16_1c.url_code|safe}} / {{M16_1d.url_code|safe}} / {{M16_1e.url_code|safe}}</td>
	<td colspan="2" class="l6 m">{{M16_2a.url_code|safe}}</td>
	<td colspan="2" class="l6 m">{{M16_3a.url_code|safe}} / {{M16_3b.url_code|safe}} / {{M16_3c.url_code|safe}} / {{M16_3d.url_code|safe}}</td>
</tr>
<!-- Ligne 7 -->
<tr>
	<td class="l7 d">{{D7.url|safe}}</td>
	<td class="l7 p">{{P10.url|safe}}</td>
	<td colspan="2" class="l7 m">{{M17_1.url_code|safe}}</td>
	<td colspan="2" class="l7 m">{{M17_2.url_code|safe}}</td>
	<td colspan="2" class="l7 m">{{M17_3.url_code|safe}}</td>
</tr>

<!-- Ligne 8 -->
<tr>
	<td class="l8 d">{{D8.url|safe}}</td>
	<td class="l8 p">{{P11.url|safe}}</td>
	<td colspan="6" class="l8 m">{{MACC.url_code|safe}}</td>
</tr>
</table>
<br/>
<a href="{% url 'plan-pdf' %}">Imprimer en PDF</a>
</div>

{% endblock %}


