{% extends "./base_site.html" %}
{% load i18n static %}

{% block coltype %}colMS{% endblock %}


{% block content %}

<div id="content-main">
<h1>Périodes de formation</h1>
<table>
<tr><th width="275px">Semestre 1</th><th text-align="right">{{tot1.sem1__sum}}h.</th><th width="275px">Semestre 2</th><th text-align="right">{{tot2.sem2__sum}}h.</th></tr>
<tr><td colspan="2"><table>
{% for s in sem1 %}
<tr><td>{{s}}</td><td>{{s.sem1}} h.</td></tr>
{% endfor %}
</table>
</td>
<td colspan="2">
<table>
{% for s in sem2 %}
<tr><td>{{s}}</td><td>{{s.sem2}} h.</td></tr>
{% endfor %}
</table>
</td></tr>
<tr><th>Semestre 3</th><th text-align="right">{{tot3.sem3__sum}}h.</th><th>Semestre 4</th><th text-align="right">{{tot4.sem4__sum}}h.</th> </tr>
<tr><td colspan="2"><table>
{% for s in sem3 %}
<tr><td>{{s}}</td><td>{{s.sem3}} h.</td></tr>
{% endfor %}
</table></td>
<td colspan="2"><table>
{% for s in sem4 %}
<tr><td>{{s}}</td><td>{{s.sem4}} h.</td></tr>
{% endfor %}
</table></td></tr>
<tr><th>Semestre 5</th><th text-align="right">{{tot5.sem5__sum}}h.</th><th>Semestre 6</th><th text-align="right">{{tot6.sem6__sum}}h.</th></tr>
<tr><td colspan="2"><table>
{% for s in sem5 %}
<tr><td>{{s}}</td><td>{{s.sem5}} h.</td></tr>
{% endfor %}
</table></td>
<td colspan="2">
<table>
{% for s in sem6 %}
<tr><td>{{s}}</td><td>{{s.sem6}} h.</td></tr>
{% endfor %}
</table>
</td></tr>
</table>

<br/>
Total des périodes de cours: {{tot}} heures

<br/><br/>
<a href="{% url 'periodes-pdf' %}">Imprimer en PDF</a>
</div>
{% endblock %}


