{% extends "./base_site.html" %}
{% load i18n static %}

{% block content %}
    <div id="content-main">
        <div style="margin:auto;width:60%;">
            <h1>Documents en téléchargement</h1>
            {% if object_list %}
                <ul class="liste-verticale">
                    {% for upload in object_list %}
                        <li><a href="{{ upload.docfile.url }}">{{ upload.titre }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}



